// Colors
$c-blue: #23649a;
$c-light-blue: #5791be;
$c-white: #ffffff;
$c-text: #121212;
$c-dark-grey: #262626;
$c-grey: #303133;
$c-blue-gradient: linear-gradient(0, #6386ca 0, #6386ca 100%);
// Fonts
$regularFont: "Montserrat", sans-serif;
$logoFont: "Days One", sans-serif;
// Media
$xl: 1920px;
$lg: 1824px;
$md: 1224px;
$sm: 768px;
$xs: 420px;
// Spacing
$s-1: 8px;
$s-2: 16px;
$s-3: 24px;
$s-4: 32px;
$s-5: 40px;
// Typography
// $t-h1: 55px;
// $t-h2: 30px;
// $t-h3: 20px;
// $t-text: 15px;
// $t-caption: 13px;
$t-h1: 2.5rem;
$t-h2: 2rem;
$t-h3: 1.5rem;
$t-text: 1.2rem;
$t-caption: 1rem;