.services-block {
    text-align: center;

    .services {
        display: flex;
        flex-wrap: wrap;

        &-item {
            width: 33.3%;
            display: block;
            text-align: center;
            padding: $s-3 $s-1;
            box-sizing: border-box;
            
            img, h3 {
                transition: 0.5s all;
            }
            

            &:hover {
                img {
                    transform: scale(1.1);
                }
                color: $c-blue
            }
        }
    }
}