@import 'navigation';
@import 'footer';
@import 'feedback-form';
@import 'services';

// Buttons

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 13px;
    width: 160px;
    height: 40px;
    background: $c-blue;
    color: $c-white;
}

.text-blue {
    color: $c-blue;
}
