<footer class="footer">
    <div class="footer-section">
        Понедельник — Пятница : 08:00 — 19:00
        <br>
        <br>
        +38(050) 658-27-77
        <br>
        +38(097) 308-18-31
        <br>
        <br>
        <br>
        <br>
        <a href="#"><b><em>Положення про обробку і захист персональних даних</em></b></a>
    </div>
    <div class="footer-section">
        03056, м.Київ, вул. Вадима Гетьмана, 27, офіс 33
        <br>
        <br>
        energougalyans@ukr.net
        +38 (044) 221-91-89
    </div>
    <div class="footer-section">
        <div class="footer-logo">
            <img src="/images/logo_white.png" width="62" alt="logo">
            <br>
            <b>ЕНЕРГОЮГ АЛЬЯНС</b>
            <br>
            НАДІЙНИЙ ПАРТНЕР В ЕНЕРГЕТИЦІ
        </div>
    </div>
</footer>
<footer class="footer-bottom">
    <div>Copyright © All rights reserved.</div>
    <div>ЕНЕРГОЮГАЛЬЯНС</div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="js/main.js"></script>