<div class="owl-carousel licenses-carousel owl-theme">
    <div class="item"> 
        <img src="/images/license/license_1_full.jpg" class="item_preview" alt="license 1"> 
        
    </div>

    <div class="item"> 
        <img src="/images/license/license_2_full.jpg" class="item_preview" alt="license 1"> 
    </div>

    <div class="item"> 
        <img src="/images/license/license_3_full.png" class="item_preview" alt="license 2"> 
    </div>

    <div class="item"> 
        <img src="/images/license/license_4_full.jpg" class="item_preview" alt="license 2"> 
    </div>
</div>

<div class="license_full" style="display: none;">
    <img src="/images/license/license_1_full.jpg" alt="license 1" />
</div>
