<div class="navigation-wrapper">
    <div class="navigation-top layout">
        <div class="navigation-top__item">
            <div class="navigation-top__item__bg"></div>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a href="tel:+380442219189">+38 (044) 221-91-89</a>
        </div>
        <div class="navigation-top__item">
            <div class="navigation-top__item__bg"></div>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <a href="mailto:">energougalyans@ukr.net</a>
        </div>
        <div class="navigation-top__item lang">
            <div class="navigation-top__item__bg"></div>
            <a href="#">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAE2SURBVHjaYvz69T8DAvz79w9CQVj/0MCffwwAAcQClObiAin6/x+okxHMgPCAbOb//5n+I4EXL74ABBALxGSwagTjPzbAyMgItAQggBg9Pf9nZPx//x7kjL9////9C2QAyf9//qCQQCQkxFhY+BEggFi2b/+nq8v46BEDSPQ3w+8//3//BqFfv9BJeXmQEwACCOSkP38YgHy4Bog0RN0vIOMXVOTPH6Cv/gEEEEgDxFKgHEgDXCmGDUAE1AAQQCybGZg1f/d8//XsH0jTn3+///z79RtE/v4NZfz68xfI/vOX+4/0ZoZFAAHE4gYMvD+3/v2+h91wCANo9Z+/jH9VxBkYAAKIBRg9TL//MEhKAuWAogxgZzGC2CCfgUggAoYdGAEVAwQQ41egu5AQAyoXTQoIAAIMAD+JZR7YOGEWAAAAAElFTkSuQmCC" title="RU" alt="RU" width="16" height="11">
                RU
            </a>
            <a href="#">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAFQSURBVHjaYmRo/c8AB//+MfwBkgwg8s8/KPoFI4GIgQEgAIdycgMACAMxUAF6oygqoQ1q45dkzSH5N26XR/8zCEuepggsVEPFkxB+S9bcRwCxMDCBVD/5+h+o9O8/BqDE378Mv/+DpCGKfgERmCHLw8jw4x9AAIFs+AdUBLQWZDZI9a/////8BSuFawBzf/8FuQMggFiALvsLsh2k+g/cbCTVUBLkKgaGDwwAAcTCIHJKhFPh19+fIHf/+/cbpBNI/gO75x+I/RfKluFiY5A6AhBAjH8fMjDI5P///+A/wy8GoFf/A+34hZVkYlJ6f/wUQACxAEOSESwEDEhURSiqwbJ/gKENEEAgDcwgDlAIrgiLNgaGvyD0hwEggEAamP4DdUrCREE6GRl/gyMPQv6BqgYG+z8GgABi/HoTFL///kBJBjgbwmBAcEEcBgaAAAMASIdu6OFHDhsAAAAASUVORK5CYII=" title="UA" alt="UA" width="16" height="11">
                UA
            </a>
        </div>
    </div>

  <nav class="navigation layout">
    <div class="navigation__logo">
        <img src="/images/logo.png" alt="Logo" />
        <span>ЕНЕРГОЮГ АЛЬЯНС</span>
    </div>

    <div class="navigation-content-right">
      <a href="#" class="navigation-link active">
          <span>Главная</span>
      </a>
      <a href="#" class="navigation-link">
          <span>Услуги</span>
      </a>
      <a href="#" class="navigation-link">
          <span>Портфолио</span>
      </a>
      <a href="#" class="navigation-link">
          <span>О Компании</span>
      </a>
      <a href="#" class="navigation-link">
          <span>Контакты</span>
      </a>
    </div>
  </nav>
</div>
