<div class="owl-carousel partners-carousel owl-theme">
    <div> 
        <img src="/images/partners/partner_1.jpg" alt="ВДНX"> 
    </div>
    <div> 
        <img src="/images/partners/partner_2.jpg" alt="Жуляны"> 
    </div>
    <div> 
        <img src="/images/partners/partner_3.jpg" alt="DATA Group"> 
    </div>

    <div> 
        <img src="/images/partners/partner_4.jpg" alt="BioFarma"> 
    </div>
    <div> 
        <img src="/images/partners/partner_5.jpg" alt="ABInBev"> 
    </div>
    <div> 
        <img src="/images/partners/partner_6.jpg" alt="Акко"> 
    </div>

    <div> 
        <img src="/images/partners/partner_7.jpg" alt="CompassFM"> 
    </div>
    <div> 
        <img src="/images/partners/partner_8.jpg" alt="Dyckerhoff Ukraine"> 
    </div>
    <div> 
        <img src="/images/partners/partner_9.jpg" alt="Зоопарк Киев"> 
    </div>

    <div> 
        <img src="/images/partners/partner_10.jpg" alt="OTIS"> 
    </div>
    <div> 
        <img src="/images/partners/partner_11.jpg" alt="Киянка"> 
    </div>
    <div> 
        <img src="/images/partners/partner_12.jpg" alt="НАУ"> 
    </div>

    <div> 
        <img src="/images/partners/partner_13.jpg" alt="Мармелад"> 
    </div>
    <div> 
        <img src="/images/partners/partner_14.jpg" alt="Ukrspecexports"> 
    </div>
    <div> 
        <img src="/images/partners/partner_15.jpg" alt="Eurasia"> 
    </div>
    <div> 
        <img src="/images/partners/partner_16.jpg" alt="PRIME"> 
    </div>
</div>