<section class="services-block">
    <h2 class="section-title">НАШИ <span class="text-blue">УСЛУГИ</span></h2>
    <div class="services">
        <a class="services-item" href="#">
            <img src="images/services/service-1.png" alt="Электромонтажные работы">
            <h3>
                Электромонтажные <br> 
                работы
            </h3>
        </a>

        <a class="services-item" href="#">
            <img src="images/services/service-2.png" alt="Аварийные работы">
            <h3>
                Аварийные <br> 
                работы
            </h3>
        </a>

        <a class="services-item" href="#">
            <img src="images/services/service-3.png" alt="Электротехническая лаборатория">
            <h3>
                Электротехническая <br>
                лаборатория
            </h3>
        </a>

        <a class="services-item" href="#">
            <img src="images/services/service-4.png" alt="Ремонт и обслуживание электросетей">
            <h3>
                Ремонт и обслуживание <br>
                электросетей
            </h3>
        </a>

        <a class="services-item" href="#">
            <img src="images/services/service-5.png" alt="Проектные работы">
            <h3>
                Проектные <br> 
                работы
            </h3>
        </a>

        <a class="services-item" href="#">
            <img src="images/services/service-6.png" alt="Поставка материалов и оборудования">
            <h3>
                Поставка материалов <br> 
                и оборудования
            </h3>
        </a>
    </div>
</section>