@import "settings/global";

@import "design-tokens/colors", 
        "design-tokens/fonts",
        "design-tokens/media-queries", 
        "design-tokens/spacing",
        "design-tokens/typography";

@import "elements/_style";

body {
  font-family: $regularFont;
  color: $c-text;
  line-height: 150%;
}
a {
  color: $c-text;
  text-decoration: none;
}

h1 {
  font-size: $t-h1;
}
h2 {
  font-size: $t-h2;
}
h3 {
  font-size: $t-h3;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: $t-text;
  background: $c-white;
}

.layout {
  padding: 0 19.5%;
  section {
    margin-bottom: $s-4;
    
    .section-title {
      position: relative;

      &:after {
        content: "";
        border: 1px solid #5791be;
        width: 7%;
        height: 0;
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%)
      }
    }

    &.row {
      display: flex;
      justify-content: center;

      .section-title {
        margin-bottom: $s-5;
        
        &:after {
          left: 0;
          transform: translateX(0);
        }
      }

      .illustration {
        text-align: center;
        position: relative;

        img {
          max-width: 320px;
          position: relative; 
          z-index: 5;
        }
        &:after {
          content: "";
          width: 320px;
          z-index: 0;
          padding-top: 320px;
          background: $c-blue;
          position: absolute;
          top: 25%;
          left: 25%;
          display: block;
        }
      }
    }
    .left, .right {
      width: 40%;
    }
    .left {
      padding-left: $s-5;
    }
  }

  @media (max-width: $lg) {
    padding: 0 10%;
  }
  @media (max-width: $md) {
    padding: 0 6%;
  }
  @media (max-width: $sm) {
    padding: 0 4%;
  }
}

.page-header {
  position: relative;
  height: 85vh;
  min-height: 500px;
  padding-bottom: $s-5;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  color: $c-white;
  text-align: center;

  &-inner {
    z-index: 20;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2, 2, 2, 0.53);
    z-index: 15;
  }
  .video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 10;
  }
  &__subtitle {
    font-size: 21px;
  }
  &-btns {
    display: flex;
    justify-content: center;
    margin-top: 20%;

    .page-header__btn {
      border: 1px solid $c-white;
      width: 150px;
      height: 30px;
      line-height: 30px;      
      margin: 0 $s-3;
      text-decoration: none;
      border-radius: 3px;
      background: none;
      color: $c-white;
      transition: all 0.3s;
      text-transform: uppercase;


      &:hover {
        color: $c-dark-grey;
        border: 1px solid $c-dark-grey;
        background: $c-white;
      }
    }
  }
}

.page-content {
  margin: $s-4 0;
  flex: 1 1;
}

// Main Page
.about {

  .btn {
    margin-top: $s-5;
  }
}
.advantages-block {
  display: flex;
  background: linear-gradient(90deg, #adbfce 3%, #366e9a 100%);
  color: $c-white;
  max-width: 1920px;
  width: 100%;
  margin: auto;

  .illustration {
    width: 50%;
    max-width: 759px;
    margin-bottom: -9.5%;
  }

  &-content {
    padding: 0 $s-5;
    margin: auto;
    max-width: 500px;
  }

  &__title {
    position: relative;
    &:after {
      content: "";
      border: 1px solid $c-white;
      width: 7%;
      height: 0;
      position: absolute;
      bottom: -16px;
      left: 0;
    }
  }
  &-list {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding-top: $s-5;
  }
  &__item {
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: $s-5;
    img {
      margin-right: $s-1;
      max-width: 40px;
      max-height: 40px;
    }
  }
}
.licenses-carousel {
  margin-top: $s-4;
  padding-top: $s-4;

 .item {
   &_preview{
      width: 200px !important;
      margin: auto;
   }
  }
}
.license_full {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s;

  img {
    position: relative;
    height: 80%;
    margin: auto;
  }
}
// Main Page

